<h1>Pedidos</h1>
<ul>
<% @pedidos.each do |p| %>
  <li>
    <%= p.fecha.to_s + " " + p.hora_llegada.to_s + ": Pedido de " + p.cantidad.to_s + " " + p.unidad.to_s + " de producto sku: " + p.sku.to_s %>
  </li>
<% end %>    

</ul>