<% content_for :scripts do %>
  <%= javascript_include_tag "dashboards.js" %>
<% end %>

<ul class="nav nav-tabs">
  <li id="tab1_pedidos" class="active">
    <a href="#" onClick="tab1(); return false">Pedidos</a>
  </li>
  <li id="tab2_productos" >
    <a href="#" onClick="tab2(); return false">Productos</a>
  </li>
</ul>

<div id="pedidos" class="charts">
<div id="ingresos_chart" style="width:auto; height:300px;"></div>
<div id="quiebres_chart" style="width:auto; height:300px;"></div>
</div>

<div id="productos" class="charts">
<div id="quiebres_chart2" style="width:auto; height:300px;"></div>
<div id="ingresos_chart2" style="width:auto; height:300px;"></div>
</div>
