<% content_for :scripts do %>
  <%= javascript_include_tag "dashboards.js" %>
<% end %>

<div id="ingresos_chart" style="width:auto; height:300px;"></div>
<div id="quiebres_chart" style="width:auto; height:300px;"></div>

   